@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

@font-face {
	font-family : "shamaFont";
	src:url("../fonts/GOUDOS.TTF");
}

.wrapper {
	width : 100%;
	padding : 0px;
	margin : 0px;
}

/*h2 {
	font-family: 'shamaFont';
}*/

p {
	font-size: 15px;
}

.brn-primary:hover{
    background: #006eff;
    
}


.regPanel {
	position: relative;
	width : 90%;
	left : 5%;
	margin-top:15px;
	padding : 2%;
	background: transparent;
}

/*================================================================ index.php ======================================================================*/

#mainContent {
	position: relative;
	display : inline-block;
	width : 100%;
	backgroun: blue;
}

#allProducts {
	position: relative;
	display : inline-block;
	width : 100%;
	overflow : auto;
	min-height : 450px;
	left : 2%;
	backgroun: blue;
	opacit: 0.2;
}

#allProducts img {
	position: relative;
	borde-radis : 5% 0 5% 0;
	width : 100%;
	height : 150px;
}

#allProducts li {
	position: relative;
	width : 22%;
	display: block;
	float: left;
	height : 400px;
	border : 1px solid #fff;
	box-shadow: 5px 5px 10px #0cb033;
	list-style-type: none;
	margin-left : 10px;
	border-radius: 3px;
	margin-top : 0px;
}

.product-card {
	min-height : 150px;
	left : 0px;
	margin-top: 20px;
	
}

.card-body {
	position: relative;
	top : 10px;
}

.reserve-price {
	position: absolute;
	background: #ff3c4e;
	color : #fff;
	padding : 2%;
	border-radius: 5px;
}

#buy_ticket_button {
	position: relative;
	width : 40%;
	left : 60%;
	font-family: "shamaFont";
	padding : 2px;
}

.product-card img{
	width : 100%;
	height: auto;
	min-height : 300px;
    max-height : 300px;
	margin-left : 5%;
}

.card-img-top {
	height: 100px;
}

#m-pesa_guide {
	background: linear-gradient(to bottom,#8bc43f,#fff);
}

 #m-pesa_guide li{
	list-style-type: none;
}

#subMpesa {
	position: relative;
	left : 70%;
	background: #ff3c4e;
}

a .category {
    position: relative;
	width: 100%;
	height: 50px;
	border: 1px solid #96980f;
	color : #000;
	text-align: center;
	padding : 2%;
	left : 0%;
	border-radius: 5px;
	font-size: 90%;
	margin-top: 10px;
}

/*================================================================ register / login.php ======================================================================*/

#regForm {
	position: relative;
	width : 100%;
	min-height : 480px;
}

.loginPanel {
	position: relative;
	width : 90%;
	left : 5%;
	margin-top : 10px;
	padding : 2%;
	background: transparent;
}

#loginForm {
	position: relative;
	width : 100%;
	height : 200px;
}

#loginForm input[type="text"],#loginForm input[type="number"],#loginForm input[type="password"] {
	position: relative;
	width: 80%;
	padding : 2%;
	left : 5%;
	top : 10px;
	border-radius : 2%;
	border : 1px solid #96980f;
}

#loginForm input[type="submit"] {
	position: relative;
	width : 20%;
	padding : 2%;
	left : 65%;
}

#regForm input[type="text"],#regForm input[type="number"],#regForm input[type="password"] ,#regForm select{
	position: relative;
	width: 80%;
	padding : 2%;
	left : 5%;
	top : 10px;
	border-radius : 2%;
	border : 1px solid #96980f;
}

#regForm select{
	position: relative;
	width: 80%;
}

#regForm input[type="submit"] {
	position: relative;
	width : 20%;
	padding : 2%;
	left : 65%;
}

/*================================================================== header =====================================================================================*/

/*div.navbar {
	background : #fff; linear-gradient(to bottom,#102410,#ff3c4e);
	width : 100%;
	padding: 0px;
	margin : 0px;
	height : 100px;
}*/

.brand-name {
    padding-left: 0.6rem;
/*	position: absolute;
	width : 110px;
	left : 0%;
	top : -20px;
	padding: 0px;*/
}


.brand-name img{
	width : 100px;
	
	/*height : 100px;*/
}



a .menuItem {
    background: #fff;
	color : #96980f;
	font-size: 15px;*/
	padding-left: 10px;
	height : 100px;
	margin-left: 2rem;
	width : 45%;
}

.navbar .nav-item .nav-link:hover{
    color: #e6312b;
}

.navbar button {
  font-size: 80%;
  padding: 0.75rem 0.75rem;
  background: #0061e5;
  border: none;
  color: #fff;
  
}


#menuBar {
	position: absolute;
	display: block;
	width : 30%;
	/*height : 60px;*/
	background: #fff;
	borde : 1px solid green;
	top : -3px;
}

 div#mobile_menu {
    position: relative; 
    display: block; 
    width:34%;
    font-size : 90%;
    text-decoration: none; 
    font-family: 'Josefin Slab'; 
    color : #96980f; 
    padding: 5px; 
    left: 60%;
}


/*================================================================== main section =====================================================================================*/
/*.carousel {
	/margin-bottom: -5rem;
	
}*/

.carousel .carousel-inner{
    height: 100vh;
}
.carousel-item img {
	width : 100%;
}

.carousel .carousel-item{
    height: 100vh;
}


.carousel-caption h2{
    color: #fff;
    font-family: 'Oswald';
   
}

.carousel-caption p{
    font-family: 'Varela Round';
}

.carousel-caption{
    position: relative;
    height: 80vh;
    
}

.carousel-caption .pop{
    color: #df3d82;
    
}

/*search section*/
#search{
    background: #d5d5d5;
    margin-top: -3.2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
#search .fas{
    color: #df3d82;
    font-size: 3rem;
}

#search p{
    font-family: 'Varela Round';
    font-size: 1.4rem;
}
#searchForm .form-control{
  -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  height: auto;
  font-family: 'Varela Round';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}

#searchForm .form-group .btn-primary{
    -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-family: 'Varela Round';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0;
}

@media (min-width: 768px){
    #searchForm .form-group .btn-primary{
        margin-top: 1.2rem;
    }
    
}

@media (max-width: 575.98px){
    #searchForm .form-group .btn-primary{
        margin-top: 0.5rem;
    }
}


/*#searchForm {
	position: relative;
	width : 90%;
	left : 5%;
	margin-top: -25rem;
	
	
}

#searchReserveText {
	width: 100%;
	padding : 2%;
}

#searchReserveBtn {
	position: relative; 
	top : 3px;
	left : 40%;
	border-radius:2px; 
	background: #3c6cb5; 
	border:none; 
	padding:0.6rem 1.2rem;
	font-family: 'Varela Round';
}

#searchReserveBtn:hover{
    background: #006eff;
}*/

/*============================================================ profile.php ==========================================================================*/

#profileContent {
	position: relative;
	width : 100%;
	background: #fff;
	top : 30px;
}

#profileContent>p {
	font-family: "lihubFont2";
	text-align: center;
	font-size : 23px;
}

#profileSidebar {
	position: relative;
	width : 15%;
	height : 150px;
	background : grey;
	float: left;
	margin-bottom: 10px;
	border-radius: 0px;
	color : #fff;
}

ul#profileTab {
	position: relative;
	width : 100%;
	borde : 1px solid #000;
}

ul#profileTab>li {
	position: relative;
	list-style-type: none;
	width : 100%;
	display: block;
	left : 0%;
	height : 50px;
	border : 1px solid #fff;
	border-radius : 0px;
	padding : 5px;
	text-align: center;
	margin-top: 5px;
	cursor: pointer;
}

#cartPanel {
	position: relative;
	width : 85%;
	height : 550px;
	display: block;
	left : 15%;
	borde : 1px solid #000;
	margin-bottom: 10px;
}

#accPanel {
	position: relative;
	width : 85%;
	height : 550px;
	display: none;
	left : 15%;
	borde : 1px solid #000;
	margin-bottom: 10px;
	backgroun: green;
}

#cart {
	position: relative;
	width : 100%;
}

table#cartTable {
	position: relative;
	width : 70%;
	border : 1px solid grey;
	border-collapse: collapse;
}

#cartTable th,td{
	border : 1px solid grey;
	padding : 10px;
}

div [class*="removeProd"]{
	position: relative;
	width : 45px;
	height : 50px;
	borde: 1px solid #000;
}

div [class*="removeProd"] img{
	position: relative;
	width : 45px;
	height : 50px;
}

#paymentForm {
	position: relative;
	width : 100%;
	height : 200px;
}

#paymentForm select,#paymentForm input[type="number"]{
	position: relative;
	width: 80%;
	padding : 2%;
	left : 5%;
	top : 10px;
	border-radius : 5px;
	border : 1px solid grey;
}

#paymentForm input[type="submit"] {
	position: relative;
	width : 20%;
	padding : 2%;
	border-radius : 5px;
	left : 70%;
}

table#accountTable {
	position: relative;
	width : 70%;
	border : 1px solid grey;
	border-collapse: collapse;
}

#accountTable th,td{
	border : 1px solid grey;
	padding : 10px;
}

/*============================================================ manager.php ==========================================================================*/

#managementContent {
	position: relative;
	width : 100%;
	background: #fff;
}

#managementContent>p {
	font-family: "lihubFont2";
	text-align: center;
	font-size : 23px;
}

#sidebar {
	position: relative;
	width : 100%;
	height : 80px;
	background : linear-gradient(to bottom,#ff3c4e,#6a0419);
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 0px;
	color : #000;
}

ul#managementTab {
	position: absolute;
	width : 100%;
	borde : 1px solid #000;
	top:20px;
}

#managementTab>li {
	position: relative;
	list-style-type: none;
	width : 25%;
	left : 0%;
	height : 60px;
	float: left;
	border : 1px solid #fff;
	border-top: 0px;
	border-bottom: 0px;
	border-radius : 0px;
	box-shadow: 1px 1px 10px #96980f;
	text-align: center;
	margin-top: -20px;
	margin-left: 0;
	cursor: pointer;
	font-family: 'Josefin Slab';
	font-size: 12px;
	color: #fff;
}

#ticketPanel {
	position: relative;
	width : 100%;
	min-height : 550px;
	display: block;
	left : 0%;
	borde : 1px solid #000;
	margin-bottom: 10px;
	overflow: auto;
}

table#usersTable {
	position: absolute;
	width : 100%;
	border : 1px solid grey;
	border-collapse: collapse;
}

#usersTable th,td{
	border : 1px solid grey;
	padding : 10px;
}

div [class*="deleteUser"]{
	position: relative;
	width : 45px;
	height : 50px;
	borde: 1px solid #000;
}

div [class*="deleteUser"] img{
	position: relative;
	width : 45px;
	height : 50px;
}

#tellerPanel {
	position: relative;
	width : 100%;
	height : 500px;
	display: none;
	left : 0%;
	borde : 1px solid #000;
	margin-bottom: 10px;
	overflow: auto;
}

#profilePanel {
	position: relative;
	width : 100%;
	height : 500px;
	display: none;
	left : 15px;
	borde : 1px solid #000;
	margin-bottom: 10px;
	overflow: auto;
}

.managerAccounting {
	width : 90%;
	margin-left: 5%;
}

table#ordersTable {
	position: relative;
	width : 100%;
	border : 1px solid grey;
	border-collapse: collapse;
}

#ordersTable th,td{
	border : 1px solid grey;
	border-collapse: collapse;
	padding : 10px;
}

/*=================================================================== product panel div =======================================================*/

#reservePanel {
	position: relative;
	width : 100%;
	min-height : 550px;
	display: none;
	left : 0%;
	borde : 1px solid #000;
	margin-bottom: 10px;
	backgroun: green;
}

#uploadProductForm {
	position: relative;
	display: inline-block;
	width : 100%;
	min-height: 450px;
	left : 0%;
	borde: 1px solid grey;
	margin-bottom: 20px;
}

#uploadProductForm input[type="text"],#uploadProductForm input[type="date"],#uploadProductForm input[type="time"],#uploadProductForm textarea,#uploadProductForm input[type="file"],
#uploadProductForm input[type="number"],#uploadProductForm input[type="password"] {
	position: relative;
	width: 80%;
	padding : 3%;
	left : 5%;
	border-radius : 3px;
	color : #000;
	border : 1px solid #ff3c4e;
}

#uploadProductForm select {
    position: relative;
	width: 80%;
	left : 5%;
	border-radius : 3px;
	color : #000;
	border : 1px solid #ff3c4e;
}

#uploadProductForm input[type="submit"] {
	position: relative;
	width : 23%;
	padding : 2%;
	border-radius : 3px;
	left : 55%;
	background : #ff3c4e;
	border : 1px solid #ff3c4e;
	color : #fff;
}

#uploadProfileForm {
	position: relative;
	display: inline-block;
	width : 100%;
	min-height: 450px;
	left : 0%;
	borde: 1px solid grey;
	margin-bottom: 20px;
}

#uploadProfileForm input[type="text"],#uploadProfileForm input[type="date"],#uploadProfileForm input[type="time"],#uploadProfileForm textarea,#uploadProfileForm input[type="file"],
#uploadProfileForm input[type="number"],#uploadProfileForm input[type="password"] {
	position: relative;
	width: 80%;
	padding : 3%;
	left : 5%;
	border-radius : 3px;
	color : #000;
	border : 1px solid #ff3c4e;
}

#uploadProfileForm select {
    position: relative;
	width: 80%;
	left : 5%;
	border-radius : 3px;
	color : #000;
	border : 1px solid #ff3c4e;
}

#uploadProfileForm input[type="submit"] {
	position: relative;
	width : 23%;
	padding : 2%;
	border-radius : 3px;
	left : 55%;
	background : #ff3c4e;
	border : 1px solid #ff3c4e;
	color : #fff;
}

#managerProducts {
	position: relative;
	display : inline-block;
	width : 100%;
	overflow : auto;
	height : 300px;
	left : 0%;
	backgroun: blue;
	opacit: 0.2;
}

#managerProducts img {
	position: relative;
	border-radius : 5% 0 5% 0;
}

#managerProducts li {
	position: relative;
	width : 100%;
	display: inline-block;
	heigh : 350px;
	borde : 1px solid #fff;
	box-shadow: 5px 5px 10px #0cb033;
	list-style-type: none;
	margin-left : 2px;
	border-radius: 3px;
	margin-top : 5px;
}

#uploadPhoto {
	position: relative;
	width : 70%;
	left : 10%;
	borde : 1px solid #000;
}

#showUploadProgress {
	position: relative;
	width : 70%;
	left : 10%;
	borde: 1px solid #000;
}

#uploadPhoto input[type="input"],#uploadPhoto input[type="text"],#uploadPhoto input[type="file"],#uploadPhoto textarea {
	position: relative;
	width : 70%;
	height : 20px;
	left : 10%;
	padding : 10px;
	border-radius : 5px;
	border : 1px solid #ffa400;
}

input[type="submit"]#uploadButton {
	position: relative;
	width : 20%;
	height : 25px;
	padding : 30px;
	font-family: "lihubFont";
	left : 50%;
	border-radius: 10px;
	background: #fff;
	border: 1px solid #ffa400;
	text-align: center;
}

a {
	text-decoration: none;
}

a #music,#movies,#sports{
	position: relative;
	width: 100%;
	height: 50px;
	border: 1px solid #96980f;
	color : #000;
	text-align: center;
	padding : 2%;

	left : 0%;
	border-radius: 5px;
	font-size: 20px;
	margin-top: 10px;
}

a .category {
    position: relative;
	width: 100%;
	height: 50px;
	border: 1px solid #96980f;
	color : #000;
	text-align: center;
	padding : 2%;
	left : 0%;
	border-radius: 5px;
	font-size: 90%;
	margin-top: 10px;
}

ul#managerPhotosUl {
	position: relative;
	width : 97%;
	height: 700px;
	borde : 1px solid #000;
	backgroun: green;
	overflow: auto;
}

#managerPhotosUl>li {
	position: relative;
	list-style-type: none;
	width : 550px;
	borde : 1px solid green;
	float: left;
	margin-left: 1%;
	margin-top: 3%;
	left : -1%;
}

#managerPhotosUl>li img {
	position: relative;
	width : 100%;
	height : 300px;
}

div [class*='delButton']{
	position: relative;
	width : 45px;
	height: 50px;
	left : 90%;
	top : -40px;
	borde: 1px solid #000;
}

div[class*='delButton']>#delPhoto{
	position: relative;
	width : 45px;
	height: 50px;
}

#photoEchoes {
	position: relative;
	width : 80%;
	borde: 1px solid #000;
}

/*============================================================ music.php ==========================================================================*/
#specificReservePanel {
	position: relative;
	width : 100%;
	heigh : 550px;
	display: block;
	left : 0%;
	borde : 1px solid #000;
	margin-bottom: 10px;
}

#specificTellerPanel {
	position: relative;
	width : 100%;
	height : 500px;
	display: none;
	left : 0%;
	borde : 1px solid #000;
	margin-bottom: 10px;
	overflow: auto;
}

#editModal {
	min-height :950px;
}

#editReserveForm {
	position: relative;
	display: inline-block;
	width : 100%;
	height: 600px;
	left : 0%;
	borde: 1px solid grey;
	margin-bottom: 20px;
}

#editReserveForm input[type="text"],#editReserveForm input[type="date"],#editReserveForm input[type="time"],#editReserveForm select,#editReserveForm textarea,#editReserveForm input[type="file"],
#editReserveForm input[type="number"],#editReserveForm input[type="password"] {
	position: relative;
	width: 70%;
	padding : 1%;
	left : 5%;
	border-radius : 3px;
	color : #000;
	border : 1px solid #96980f;
}

#editReservePanel {
	position: relative;
	width : 70%;
	height : 1000px;
	left : 10%;
	borde : 1px solid #000;
	margin-bottom: 10px;
	overflow: auto;
}

/*=================================================================================alertMessages.php========================================================*/

div#message {
	position: absolute;
	width : 30%;
	height: 100px;
	left : 45%;
	background: #ff3c4e;
	display: block;
	z-index: 1;
	margin-top : 180px;
	border-radius: 5%;
	opacity : 1.0;
}

div#message p{
	background: grey;
	color : #fff;
	font-size: 20px;
	height : 100%;
	text-align: center;
	top : -15px;
	opacity: 1.0;
}


#messPic img {
	width : 40%;
	height : 80px;
}

#messPicErr img {
	width : 23%;
	height : 85px;
	position: relative;
	left : 37%;
	top : -10px;
}

div#ok {
	position: relative;
	left :70%;
	width : 10%;
	height : 20px;
	border-radius: 7%;
	border: 1px solid grey;
	text-align: center;
	padding : 5px;
	top : -7%;
	cursor : pointer;

}

/*----------------------------------------------------------------------------------------show_reserve.php -----------------------------------------------------*/

#reserve_poster img {
	width:100%;
	height : 100%;
}

.reserve_poster_details{
	font-size: 15px;
}


/*================================================================== footer =====================================================================================*/

/*#footer {
	width : 100%;
	min-height : 100px;
	background: linear-gradient(to bottom,#ff3c4e,#6a0419);
}

.footer-data {
	min-height : 100px;
	borde : 1px solid #fff;
	margin-left: 5px;
}

#footer-menu > p {
	font-family: "Josefin Slab";
	text-align: center;
	font-size: 15px;
	top : 10px;
}

#footer-contact >p {
	font-family: "Josefin Slab";
	text-align: center;
	font-size: 15px;
}*/

/*design for tablets*/

@media(min-width:576px){
    	#searchForm {
				position: relative;
				width : 40%;
				left : 30%;
				margin-top:2rem;
			}
    
}

@media(min-width: 800px){
    
    #searchForm{
    	position: relative;
				width : 40%;
				left : 30%;
				margin-top:0.6rem;
    }
    
}


 /*design for desktop*/
	@media only screen and (min-width: 768px) {
			.regPanel {
				position: relative;
				width : 40%;
				left : 30%;
				margin-top:15px;
				padding : 2%;
				background: transparent;
			}


			/*================================================================ index.php ======================================================================*/

			#mainContent {
				position: relative;
				display : inline-block;
				width : 100%;
				backgroun: blue;
			}

			#allProducts {
				position: relative;
				display : inline-block;
				width : 100%;
				overflow : auto;
				min-height : 450px;
				left : 2%;
				backgroun: blue;
				opacit: 0.2;
			}

			#allProducts img {
				position: relative;
				borde-radis : 5% 0 5% 0;
				width : 100%;
				height : 150px;
			}

			#allProducts li {
				position: relative;
				width : 22%;
				display: block;
				float: left;
				height : 400px;
				border : 1px solid #fff;
				box-shadow: 5px 5px 10px #0cb033;
				list-style-type: none;
				margin-left : 10px;
				border-radius: 3px;
				margin-top : 0px;
			}

			.product-card {
				min-height : 150px;
				left: 20px;
				margin-top: 20px;
				
			}

			.card-body {
				position: relative;
				top : 10px;
			}

			.reserve-price {
				position: absolute;
				background: #ff3c4e;
				color : #fff;
				padding : 2%;
				border-radius: 5px;
			}

			#buy_ticket_button {
				position: relative;
				width : 30%;
				left : 70%;
				font-family: "shamaFont";
				padding : 2px;
			}

			.product-card img{
				width : 90%;
				height : auto;
				min-height : 300px;
    	        max-height : 300px;
				/*margin-left : 5%;*/
			}

			.card-img-top {
				height: 90px;
			}

			/*================================================================ register / login.php ======================================================================*/

			#regForm {
				position: relative;
				width : 100%;
				min-height : 480px;
			}

			.loginPanel {
				position: relative;
				width : 40%;
				left : 30%;
				margin-top : 10px;
				padding : 2%;
				background: transparent;
			}

			#loginForm {
				position: relative;
				width : 100%;
				height : 200px;
			}

			#loginForm input[type="text"],#loginForm input[type="number"],#loginForm input[type="password"] {
				position: relative;
				width: 80%;
				padding : 2%;
				left : 5%;
				top : 10px;
				border-radius : 2%;
				border : 1px solid #96980f;
			}

			#loginForm input[type="submit"] {
				position: relative;
				width : 20%;
				padding : 2%;
				left : 65%;
			}

			#regForm input[type="text"],#regForm input[type="number"],#regForm input[type="password"] ,#regForm select{
				position: relative;
				width: 80%;
				padding : 2%;
				left : 5%;
				top : 10px;
				border-radius : 2%;
				border : 1px solid #96980f;
			}

			#regForm select{
				position: relative;
				width: 80%;
			}

			#regForm input[type="submit"] {
				position: relative;
				width : 20%;
				padding : 2%;
				left : 65%;
			}

			/*================================================================== header =====================================================================================*/

			div.navbar {
				/*	width : 100%;
	                padding: 0px;
	                margin : 0px;
	                margin-top: -1.2rem;
	                margin-bottom: -1.2rem;*/
			}

		/*	.brand-name {
				position: absolute;
				width : 110px;
				left : 0%;
				top : -20px;
				padding: 0px;
			}*/


			.brand-name img{
				width : 150px;
				/*height : 100px;*/
			}
			
			.navbar .menuItem .nav-link:hover{
                 color: #e6312b;
            }
			



			a .menuItem {
				background: #fff;
				color :#96980f;
				font-size: 40px;
				padding-right: 10px;
				height : 100px;
				margin-left: 2rem;
				width : 45%;
			}



			#menuBar {
				position: absolute;
				width : 30%;
				/*height : 60px;*/
				background: #fff;
				borde : 1px solid green;
				top : -3px;
			}
			
			div#mobile_menu {
                    position: relative; 
                    display: none; 
                    width:20%;
                    text-decoration: none; 
                    font-family: 'Josefin Slab'; 
                    color : #96980f; 
                    padding: 5px; 
                    left: 70%;
                }



			/*================================================================== main section =====================================================================================*/
			/*.carousel {
				margin-top: 15px;
			}*/
			.carousel-item img {
				width : 100%;
			}
			
			.carousel .carousel-inner{
			    height: 80vh;
			}
			
			.carousel .carousel-item{
			    height:80vh;
			}
			
			.carousel .carousel-caption{
			    height: 50vh;
			}
			
			.carousel .carousel-caption h2{
			    font-size: 4rem;
			}
			
			.carousel .carousel-caption p{
			    font-size: 1.6rem;
			}

			#searchForm {
				position: relative;
				width : 40%;
				left : 30%;
				margin-top: 0;
			}

			#searchReserveText {
				width: 90%;
				padding : 2%;
				float: left;
			}

			#searchReserveBtn {
				position: relative; 
	            left : 10%;
	            border-radius:2px; 
	            background: #3c6cb5; 
	            border:none; 
	            padding:0.6rem 1.2rem;
			}

			/*============================================================ profile.php ==========================================================================*/

			#profileContent {
				position: relative;
				width : 100%;
				background: #fff;
				top : 30px;
			}

			#profileContent>p {
				font-family: "lihubFont2";
				text-align: center;
				font-size : 23px;
			}

			#profileSidebar {
				position: relative;
				width : 15%;
				height : 150px;
				background : grey;
				float: left;
				margin-bottom: 10px;
				border-radius: 0px;
				color : #fff;
			}

			ul#profileTab {
				position: relative;
				width : 100%;
				borde : 1px solid #000;
			}

			ul#profileTab>li {
				position: relative;
				list-style-type: none;
				width : 100%;
				display: block;
				left : 0%;
				height : 50px;
				border : 1px solid #fff;
				border-radius : 0px;
				padding : 5px;
				text-align: center;
				margin-top: 5px;
				cursor: pointer;
			}

			#cartPanel {
				position: relative;
				width : 85%;
				height : 550px;
				display: block;
				left : 15%;
				borde : 1px solid #000;
				margin-bottom: 10px;
			}

			#accPanel {
				position: relative;
				width : 85%;
				height : 550px;
				display: none;
				left : 15%;
				borde : 1px solid #000;
				margin-bottom: 10px;
				backgroun: green;
			}

			#cart {
				position: relative;
				width : 100%;
			}

			table#cartTable {
				position: relative;
				width : 70%;
				border : 1px solid grey;
				border-collapse: collapse;
			}

			#cartTable th,td{
				border : 1px solid grey;
				padding : 10px;
			}

			div [class*="removeProd"]{
				position: relative;
				width : 45px;
				height : 50px;
				borde: 1px solid #000;
			}

			div [class*="removeProd"] img{
				position: relative;
				width : 45px;
				height : 50px;
			}

			#paymentForm {
				position: relative;
				width : 100%;
				height : 200px;
			}

			#paymentForm select,#paymentForm input[type="number"]{
				position: relative;
				width: 80%;
				padding : 2%;
				left : 5%;
				top : 10px;
				border-radius : 5px;
				border : 1px solid grey;
			}

			#paymentForm input[type="submit"] {
				position: relative;
				width : 20%;
				padding : 2%;
				border-radius : 5px;
				left : 70%;
			}

			table#accountTable {
				position: relative;
				width : 70%;
				border : 1px solid grey;
				border-collapse: collapse;
			}

			#accountTable th,td{
				border : 1px solid grey;
				padding : 10px;
			}

			/*============================================================ manager.php ==========================================================================*/

			#managementContent {
				position: relative;
				width : 100%;
				background: #fff;
			}

			#managementContent>p {
				font-family: "lihubFont2";
				text-align: center;
				font-size : 23px;
			}

			#sidebar {
				position: relative;
				width : 100%;
				height : 80px;
				background : linear-gradient(to bottom,#000);
				margin-top: 10px;
				margin-bottom: 10px;
				border-radius: 0px;
				color : #000;
			}

			ul#managementTab {
				position: absolute;
				width : 100%;
				borde : 1px solid #000;
				top:20px;
			}

			#managementTab>li {
				position: relative;
				list-style-type: none;
				width : 23%;
				left : 0%;
				height : 60px;
				float: left;
				border : 1px solid #fff;
				border-radius : 0px;
				border-bottom: 0px;
				border-radius : 0px;
				padding-top : 20px;
				box-shadow: 1px 1px 10px #96980f;
				text-align: center;
				margin-top: -20px;
				margin-left: 3px;
				cursor: pointer;
				font-family: 'Josefin Slab';
				font-size: 28px;
				color: #fff;

			}

			#ticketPanel {
				position: relative;
				width : 100%;
				min-height : 550px;
				display: block;
				left : 0%;
				borde : 1px solid #000;
				margin-bottom: 10px;
				overflow: auto;
			}

			table#usersTable {
				position: absolute;
				width : 100%;
				border : 1px solid grey;
				border-collapse: collapse;
			}

			#usersTable th,td{
				border : 1px solid grey;
				padding : 10px;
			}

			div [class*="deleteUser"]{
				position: relative;
				width : 45px;
				height : 50px;
				borde: 1px solid #000;
			}

			div [class*="deleteUser"] img{
				position: relative;
				width : 45px;
				height : 50px;
			}

			#tellerPanel {
				position: relative;
				width : 100%;
				height : 500px;
				display: none;
				left : 0%;
				borde : 1px solid #000;
				margin-bottom: 10px;
				overflow: auto;
			}
			
			#profilePanel {
				position: relative;
				width : 100%;
				height : 500px;
				display: none;
				left : 15px;
				borde : 1px solid #000;
				margin-bottom: 10px;
				overflow: auto;
			}

			.managerAccounting {
				width : 45%;
				margin-left: 5%;
			}

			table#ordersTable {
				position: relative;
				width : 100%;
				border : 1px solid grey;
				border-collapse: collapse;
			}

			#ordersTable th,td{
				border : 1px solid grey;
				border-collapse: collapse;
				padding : 10px;
			}

			/*=================================================================== product panel div =======================================================*/

			#reservePanel {
				position: relative;
				width : 100%;
				min-height : 550px;
				display: none;
				left : 0%;
				borde : 1px solid #000;
				/*margin-bottom: 10px;*/
				backgroun: green;
			}

			#uploadProductForm {
				position: relative;
				display: inline-block;
				width : 40%;
				min-height: 950px;
				left : 0%;
				borde: 1px solid grey;
				margin-bottom: 20px;
			}

			#uploadProductForm input[type="text"],#uploadProductForm input[type="date"],#uploadProductForm input[type="time"],#uploadProductForm textarea,#uploadProductForm input[type="file"],
			#uploadProductForm input[type="number"],#uploadProductForm input[type="password"] {
				position: relative;
				width: 80%;
				padding : 3%;
				left : 5%;
				border-radius : 3px;
				color : #000;
				border : 1px solid #ff3c4e;
			}
			
			#uploadProductForm select {
			    position: relative;
				width: 80%;
				left : 5%;
				border-radius : 3px;
				color : #000;
				border : 1px solid #ff3c4e;
			}

			#uploadProductForm input[type="submit"] {
				position: relative;
				width : 23%;
				padding : 2%;
				border-radius : 3px;
				left : 55%;
				background : #ff3c4e;
				border : 1px solid #ff3c4e;
				color : #fff;
			}
			
			#uploadProfileForm {
				position: relative;
				display: inline-block;
				width : 40%;
				min-height: 350px;
				left : 0%;
				borde: 1px solid grey;
				margin-bottom: 20px;
			}

			#uploadProfileForm input[type="text"],#uploadProfileForm input[type="date"],#uploadProfileForm input[type="time"],#uploadProfileForm textarea,#uploadProfileForm input[type="file"],
			#uploadProfileForm input[type="number"],#uploadProfileForm input[type="password"] {
				position: relative;
				width: 80%;
				padding : 3%;
				left : 5%;
				border-radius : 3px;
				color : #000;
				border : 1px solid #ff3c4e;
			}
			
			#uploadProfileForm select {
			    position: relative;
				width: 80%;
				left : 5%;
				border-radius : 3px;
				color : #000;
				border : 1px solid #ff3c4e;
			}

			#uploadProfileForm input[type="submit"] {
				position: relative;
				width : 23%;
				padding : 2%;
				border-radius : 3px;
				left : 55%;
				background : #ff3c4e;
				border : 1px solid #ff3c4e;
				color : #fff;
			}

			#managerProducts {
				position: relative;
				display : inline-block;
				overflow : auto;
				height : 550px;
				left : 5%;
				backgroun: blue;
				opacit: 0.2;
			}

			#managerProducts img {
				position: relative;
				border-radius : 5% 0 5% 0;
			}

			#managerProducts li {
				position: relative;
				width : 45%;
				display: inline-block;
				heigh : 350px;
				border : 1px solid #fff;
				box-shadow: 5px 5px 10px #0cb033;
				list-style-type: none;
				margin-left : 2px;
				border-radius: 3px;
				margin-top : 5px;
			}

			#uploadPhoto {
				position: relative;
				width : 70%;
				left : 10%;
				borde : 1px solid #000;
			}

			#showUploadProgress {
				position: relative;
				width : 70%;
				left : 10%;
				borde: 1px solid #000;
			}

			#uploadPhoto input[type="input"],#uploadPhoto input[type="text"],#uploadPhoto input[type="file"],#uploadPhoto textarea {
				position: relative;
				width : 70%;
				height : 20px;
				left : 10%;
				padding : 10px;
				border-radius : 5px;
				border : 1px solid #ffa400;
			}

			input[type="submit"]#uploadButton {
				position: relative;
				width : 20%;
				height : 25px;
				padding : 30px;
				font-family: "lihubFont";
				left : 50%;
				border-radius: 10px;
				background: #fff;
				border: 1px solid #ffa400;
				text-align: center;
			}

			a {
				text-decoration: none;
			}

			a #music,#movies,#sports{
				position: relative;
				width: 60%;
				height: 80px;
				border: 1px solid #96980f;
				color : #000;
				text-align: center;
				padding : 3%;
				left : 20%;
				border-radius: 5px;
				font-size: 40px;
				margin-top: 10px;
			}
			
			a .category {
                position: relative;
            	width: 100%;
            	height: 50px;
            	border: 1px solid #96980f;
            	color : #000;
            	text-align: center;
            	padding : 2%;
            	left : 0%;
            	border-radius: 5px;
            	font-size: 90%;
            	margin-top: 10px;
            }

			ul#managerPhotosUl {
				position: relative;
				width : 97%;
				height: 700px;
				borde : 1px solid #000;
				backgroun: green;
				overflow: auto;
			}

			#managerPhotosUl>li {
				position: relative;
				list-style-type: none;
				width : 550px;
				borde : 1px solid green;
				float: left;
				margin-left: 1%;
				margin-top: 3%;
				left : -1%;
			}

			#managerPhotosUl>li img {
				position: relative;
				width : 100%;
				height : 300px;
			}

			div [class*='delButton']{
				position: relative;
				width : 45px;
				height: 50px;
				left : 90%;
				top : -40px;
				borde: 1px solid #000;
			}

			div[class*='delButton']>#delPhoto{
				position: relative;
				width : 45px;
				height: 50px;
			}

			#photoEchoes {
				position: relative;
				width : 80%;
				borde: 1px solid #000;
			}

			/*============================================================ music.php ==========================================================================*/
			#specificReservePanel {
				position: relative;
				width : 100%;
				heigh : 550px;
				display: block;
				left : 0%;
				borde : 1px solid #000;
				margin-bottom: 10px;
			}

			#specificTellerPanel {
				position: relative;
				width : 100%;
				height : 500px;
				display: none;
				left : 0%;
				borde : 1px solid #000;
				margin-bottom: 10px;
				overflow: auto;
			}

			#editModal {
				min-height :950px;
			}

			#editReserveForm {
				position: relative;
				display: inline-block;
				width : 100%;
				height: 600px;
				left : 0%;
				borde: 1px solid grey;
				margin-bottom: 20px;
			}

			#editReserveForm input[type="text"],#editReserveForm input[type="date"],#editReserveForm input[type="time"],#editReserveForm select,#editReserveForm textarea,#editReserveForm input[type="file"],
			#editReserveForm input[type="number"],#editReserveForm input[type="password"] {
				position: relative;
				width: 70%;
				padding : 1%;
				left : 5%;
				border-radius : 3px;
				color : #000;
				border : 1px solid #96980f;
			}

			#editReservePanel {
				position: relative;
				width : 70%;
				height : 1000px;
				left : 10%;
				borde : 1px solid #000;
				margin-bottom: 10px;
				overflow: auto;
			}

			/*=================================================================================alertMessages.php========================================================*/

			div#message {
				position: absolute;
				width : 30%;
				height: 100px;
				left : 45%;
				background: #ff3c4e;
				display: block;
				z-index: 1;
				margin-top : 180px;
				border-radius: 5%;
				opacity : 1.0;
			}

			div#message p{
				background: grey;
				color : #fff;
				font-size: 20px;
				height : 100%;
				text-align: center;
				top : -15px;
				opacity: 1.0;
			}


			#messPic img {
				width : 40%;
				height : 80px;
			}

			#messPicErr img {
				width : 23%;
				height : 85px;
				position: relative;
				left : 37%;
				top : -10px;
			}

			div#ok {
				position: relative;
				left :70%;
				width : 10%;
				height : 20px;
				border-radius: 7%;
				border: 1px solid grey;
				text-align: center;
				padding : 5px;
				top : -7%;
				cursor : pointer;

			}

			/*----------------------------------------------------------------------------------------show_reserve.php -----------------------------------------------------*/

			#reserve_poster img {
				width:100%;
				height : 100%;
			}

			.reserve_poster_details{
				font-size: 35px;
				margin-top: 4px;
			}


			/*================================================================== footer =====================================================================================*/

		/*	#footer {
				position: relative;
				width : 100%;
				min-height : 100px;
				background: linear-gradient(to bottom,#ff3c4e,#6a0419);
			  	bottom: 0;
			  	top:0;
			}

			.footer-data {
				min-height : 100px;
				borde : 1px solid #fff;
				margin-left: 5px;
			}

			#footer-menu > p {
				font-family: "Josefin Slab";
				text-align: center;
				font-size: 15px;
				top : 10px;
			}

			#footer-contact >p {
				font-family: "Josefin Slab";
				text-align: center;
				font-size: 15px;
			}

	}*/

/*design for desktop*/
@media only screen and (min-width: 1030px) {
	.regPanel {
		position: relative;
		width : 40%;
		left : 30%;
		margin-top:15px;
		padding : 2%;
		background: transparent;
	}

	/*================================================================ index.php ======================================================================*/

	#mainContent {
		position: relative;
		display : inline-block;
		width : 100%;
		backgroun: blue;
	}

	#allProducts {
		position: relative;
		display : inline-block;
		width : 100%;
		overflow : auto;
		min-height : 450px;
		left : 2%;
		backgroun: blue;
		opacit: 0.2;
	}

	#allProducts img {
		position: relative;
		borde-radis : 5% 0 5% 0;
		width : 100%;
		height : 150px;
	}

	#allProducts li {
		position: relative;
		width : 22%;
		display: block;
		float: left;
		height : 400px;
		border : 1px solid #fff;
		box-shadow: 5px 5px 10px #0cb033;
		list-style-type: none;
		margin-left : 10px;
		border-radius: 3px;
		margin-top : 0px;
	}

	.product-card {
		min-height : 150px;
		left: 20px;
		margin-top: 20px;
		
	}

	.card-body {
		position: relative;
		top : 10px;
	}

	.reserve-price {
		position: absolute;
		background: #ff3c4e;
		color : #fff;
		padding : 2%;
		border-radius: 5px;
	}

	#buy_ticket_button {
		position: relative;
		width : 30%;
		left : 70%;
		font-family: "shamaFont";
		padding : 2px;
	}

	.product-card img{
		width : 90%;
		height : auto;
		min-height : 300px;
    	max-height : 300px;
		margin-left : 5%;
	}

	.card-img-top {
		height: 200px;
	}

	/*================================================================ register / login.php ======================================================================*/

	#regForm {
		position: relative;
		width : 100%;
		min-height : 480px;
	}

	.loginPanel {
		position: relative;
		width : 40%;
		left : 30%;
		margin-top : 10px;
		padding : 2%;
		background: transparent;
	}

	#loginForm {
		position: relative;
		width : 100%;
		height : 200px;
	}

	#loginForm input[type="text"],#loginForm input[type="number"],#loginForm input[type="password"] {
		position: relative;
		width: 80%;
		padding : 2%;
		left : 5%;
		top : 10px;
		border-radius : 2%;
		border : 1px solid #96980f;
	}

	#loginForm input[type="submit"] {
		position: relative;
		width : 20%;
		padding : 2%;
		left : 65%;
	}

	#regForm input[type="text"],#regForm input[type="number"],#regForm input[type="password"] ,#regForm select{
		position: relative;
		width: 80%;
		padding : 2%;
		left : 5%;
		top : 10px;
		border-radius : 2%;
		border : 1px solid #96980f;
	}

	#regForm select{
		position: relative;
		width: 80%;
	}

	#regForm input[type="submit"] {
		position: relative;
		width : 20%;
		padding : 2%;
		left : 65%;
	}

	/*================================================================== header =====================================================================================*/

	/*div.navbar {
		background :#000; linear-gradient(to bottom,#6a0419,#ff3c4e);
		width : 100%;
		padding: 0px;
		margin : 0px;
		height : 100px;
	}*/

	/*.brand-name {
		position: absolute;
		width : 110px;
		left : 0%;
		top : -20px;
		padding: 0px;
	}*/


	.brand-name img{
		width : 150px;
		/*height : 100px;*/
	}


	a .menuItem {
		/*background: #fff;
		color : #96980f;
		font-size: 40px;
		padding : 5px;
		height : 100px;
		margin-left: 2px;
		width : 45%;*/
	}

	#menuBar {
		position: absolute;
		width : 30%;
		/*height : 60px;
		background: #fff;
		borde : 1px solid green;
		top : -3px;*/
	}

    div#mobile_menu {
        /*position: relative; 
        display: none; 
        width:20%;
        text-decoration: none; 
        font-family: 'Josefin Slab'; 
        color : #96980f; 
        padding: 5px; 
        left: 70%;*/
    }



	/*================================================================== main section =====================================================================================*/
	/*.carousel {
		margin-top: 15px;
	}*/
	.carousel-item img {
		width : 100%;
	}
	
	.carousel .carousel-inner{
	    height: 80vh;
	}
	
	.carousel .carousel-item{
	    height:80vh;
	}

	#searchForm {
		position: relative;
		width : 40%;
		left : 30%;
	}

	#searchReserveText {
		width: 70%;
		padding : 2%;
		float: left;
	}

	#searchReserveBtn {
		position: relative; 
		background: #96980f;
		font-family: 'Varela Round';
	}

	/*============================================================ profile.php ==========================================================================*/

	#profileContent {
		position: relative;
		width : 100%;
		background: #fff;
		top : 30px;
	}

	#profileContent>p {
		font-family: "lihubFont2";
		text-align: center;
		font-size : 23px;
	}

	#profileSidebar {
		position: relative;
		width : 15%;
		height : 150px;
		background : grey;
		float: left;
		margin-bottom: 10px;
		border-radius: 0px;
		color : #fff;
	}

	ul#profileTab {
		position: relative;
		width : 100%;
		borde : 1px solid #000;
	}

	ul#profileTab>li {
		position: relative;
		list-style-type: none;
		width : 100%;
		display: block;
		left : 0%;
		height : 50px;
		border : 1px solid #fff;
		border-radius : 0px;
		padding : 5px;
		text-align: center;
		margin-top: 5px;
		cursor: pointer;
	}

	#cartPanel {
		position: relative;
		width : 85%;
		height : 550px;
		display: block;
		left : 15%;
		borde : 1px solid #000;
		margin-bottom: 10px;
	}

	#accPanel {
		position: relative;
		width : 85%;
		height : 550px;
		display: none;
		left : 15%;
		borde : 1px solid #000;
		margin-bottom: 10px;
		backgroun: green;
	}

	#cart {
		position: relative;
		width : 100%;
	}

	table#cartTable {
		position: relative;
		width : 70%;
		border : 1px solid grey;
		border-collapse: collapse;
	}

	#cartTable th,td{
		border : 1px solid grey;
		padding : 10px;
	}

	div [class*="removeProd"]{
		position: relative;
		width : 45px;
		height : 50px;
		borde: 1px solid #000;
	}

	div [class*="removeProd"] img{
		position: relative;
		width : 45px;
		height : 50px;
	}

	#paymentForm {
		position: relative;
		width : 100%;
		height : 200px;
	}

	#paymentForm select,#paymentForm input[type="number"]{
		position: relative;
		width: 80%;
		padding : 2%;
		left : 5%;
		top : 10px;
		border-radius : 5px;
		border : 1px solid grey;
	}

	#paymentForm input[type="submit"] {
		position: relative;
		width : 20%;
		padding : 2%;
		border-radius : 5px;
		left : 70%;
	}

	table#accountTable {
		position: relative;
		width : 70%;
		border : 1px solid grey;
		border-collapse: collapse;
	}

	#accountTable th,td{
		border : 1px solid grey;
		padding : 10px;
	}

	/*============================================================ manager.php ==========================================================================*/

	#managementContent {
		position: relative;
		width : 100%;
		background: #fff;
	}

	#managementContent>p {
		font-family: "lihubFont2";
		text-align: center;
		font-size : 23px;
	}

	#sidebar {
		position: relative;
		width : 100%;
		height : 80px;
		background : linear-gradient(to bottom,#ff3c4e,#6a0419);
		margin-top: 10px;
		margin-bottom: 10px;
		border-radius: 0px;
		color : #000;
	}

	ul#managementTab {
		position: absolute;
		width : 100%;
		borde : 1px solid #000;
		top:20px;
	}

	#managementTab>li {
		position: relative;
		list-style-type: none;
		width : 23%;
		left : 0%;
		height : 80px;
		float: left;
		border : 1px solid #fff;
		border-radius : 0px;
		border-bottom: 0px;
		border-radius : 0px;
		padding : 5px;
		box-shadow: 1px 1px 10px #96980f;
		text-align: center;
		margin-top: -20px;
		margin-left: 3px;
		cursor: pointer;
		font-family: 'Josefin Slab';
		font-size: 28px;
		color: #fff;
	}

	#ticketPanel {
		position: relative;
		width : 100%;
		min-height : 550px;
		display: block;
		left : 0%;
		borde : 1px solid #000;
		margin-bottom: 10px;
		overflow: auto;
	}

	table#usersTable {
		position: absolute;
		width : 100%;
		border : 1px solid grey;
		border-collapse: collapse;
	}

	#usersTable th,td{
		border : 1px solid grey;
		padding : 10px;
	}

	div [class*="deleteUser"]{
		position: relative;
		width : 45px;
		height : 50px;
		borde: 1px solid #000;
	}

	div [class*="deleteUser"] img{
		position: relative;
		width : 45px;
		height : 50px;
	}

	#tellerPanel {
		position: relative;
		width : 100%;
		height : 500px;
		display: none;
		left : 0%;
		borde : 1px solid #000;
		margin-bottom: 10px;
		overflow: auto;
	}
	
	#profilePanel {
				position: relative;
				width : 100%;
				height : 500px;
				display: none;
				left : 0%;
				borde : 1px solid #000;
				margin-bottom: 10px;
				overflow: auto;
			}

	.managerAccounting {
		width : 45%;
		margin-left: 5%;
	}

	table#ordersTable {
		position: relative;
		width : 100%;
		border : 1px solid grey;
		border-collapse: collapse;
	}

	#ordersTable th,td{
		border : 1px solid grey;
		border-collapse: collapse;
		padding : 10px;
	}

	/*=================================================================== product panel div =======================================================*/

	#reservePanel {
		position: relative;
		width : 100%;
		min-height : 550px;
		display: none;
		left : 0%;
		borde : 1px solid #000;
		/*margin-bottom: 10px;*/
		backgroun: green;
	}

	#uploadProductForm {
		position: relative;
		display: inline-block;
		width : 40%;
		min-height: 950px;
		left : 0%;
		borde: 1px solid grey;
		margin-bottom: 20px;
	}

	#uploadProductForm input[type="text"],#uploadProductForm input[type="date"],#uploadProductForm input[type="time"],#uploadProductForm textarea,#uploadProductForm input[type="file"],
	#uploadProductForm input[type="number"],#uploadProductForm input[type="password"] {
		position: relative;
		width: 80%;
		padding : 3%;
		left : 5%;
		border-radius : 3px;
		color : #000;
		border : 1px solid #ff3c4e;
	}
	
	#uploadProductForm select {
	    position: relative;
		width: 80%;
		left : 5%;
		border-radius : 3px;
		color : #000;
		border : 1px solid #ff3c4e;
	}

	#uploadProductForm input[type="submit"] {
		position: relative;
		width : 23%;
		padding : 2%;
		border-radius : 3px;
		left : 55%;
		background : #ff3c4e;
		border : 1px solid #ff3c4e;
		color : #fff;
	}
	
	#uploadProfileForm {
		position: relative;
		display: inline-block;
		width : 40%;
		min-height: 350px;
		left : 0%;
		borde: 1px solid grey;
		margin-bottom: 20px;
	}

	#uploadProfileForm input[type="text"],#uploadProfileForm input[type="date"],#uploadProfileForm input[type="time"],#uploadProfileForm textarea,#uploadProfileForm input[type="file"],
	#uploadProfileForm input[type="number"],#uploadProfileForm input[type="password"] {
		position: relative;
		width: 80%;
		padding : 3%;
		left : 5%;
		border-radius : 3px;
		color : #000;
		border : 1px solid #ff3c4e;
	}
	
	#uploadProfileForm select {
	    position: relative;
		width: 80%;
		left : 5%;
		border-radius : 3px;
		color : #000;
		border : 1px solid #ff3c4e;
	}

	#uploadProfileForm input[type="submit"] {
		position: relative;
		width : 23%;
		padding : 2%;
		border-radius : 3px;
		left : 55%;
		background : #ff3c4e;
		border : 1px solid #ff3c4e;
		color : #fff;
	}

	#managerProducts {
		position: relative;
		display : inline-block;
		width : 50%;
		overflow : auto;
		height : 550px;
		backgroun: blue;
		opacit: 0.2;
	}

	#managerProducts img {
		position: relative;
		border-radius : 5% 0 5% 0;
	}

	#managerProducts li {
		position: relative;
		width : 45%;
		display: inline-block;
		heigh : 350px;
		borde : 1px solid #fff;
		box-shadow: 5px 5px 10px #0cb033;
		list-style-type: none;
		margin-left : 2px;
		border-radius: 3px;
		margin-top : 5px;
	}

	#uploadPhoto {
		position: relative;
		width : 70%;
		left : 10%;
		borde : 1px solid #000;
	}

	#showUploadProgress {
		position: relative;
		width : 70%;
		left : 10%;
		borde: 1px solid #000;
	}

	#uploadPhoto input[type="input"],#uploadPhoto input[type="text"],#uploadPhoto input[type="file"],#uploadPhoto textarea {
		position: relative;
		width : 70%;
		height : 20px;
		left : 10%;
		padding : 10px;
		border-radius : 5px;
		border : 1px solid #ffa400;
	}

	input[type="submit"]#uploadButton {
		position: relative;
		width : 20%;
		height : 25px;
		padding : 30px;
		font-family: "lihubFont";
		left : 50%;
		border-radius: 10px;
		background: #fff;
		border: 1px solid #ffa400;
		text-align: center;
	}

	a {
		text-decoration: none;
	}

	a #music,#movies,#sports{
		position: relative;
		width: 60%;
		height: 80px;
		border: 1px solid #96980f;
		color : #000;
		text-align: center;
		padding : 3%;
		left : 20%;
		border-radius: 5px;
		font-size: 40px;
		margin-top: 10px;
	}

	ul#managerPhotosUl {
		position: relative;
		width : 97%;
		height: 700px;
		borde : 1px solid #000;
		backgroun: green;
		overflow: auto;
	}

	#managerPhotosUl>li {
		position: relative;
		list-style-type: none;
		width : 550px;
		borde : 1px solid green;
		float: left;
		margin-left: 1%;
		margin-top: 3%;
		left : -1%;
	}

	#managerPhotosUl>li img {
		position: relative;
		width : 100%;
		height : 300px;
	}

	div [class*='delButton']{
		position: relative;
		width : 45px;
		height: 50px;
		left : 90%;
		top : -40px;
		borde: 1px solid #000;
	}

	div[class*='delButton']>#delPhoto{
		position: relative;
		width : 45px;
		height: 50px;
	}

	#photoEchoes {
		position: relative;
		width : 80%;
		borde: 1px solid #000;
	}

	/*============================================================ music.php ==========================================================================*/
	#specificReservePanel {
		position: relative;
		width : 100%;
		heigh : 550px;
		display: block;
		left : 0%;
		borde : 1px solid #000;
		margin-bottom: 10px;
	}

	#specificTellerPanel {
		position: relative;
		width : 100%;
		height : 500px;
		display: none;
		left : 0%;
		borde : 1px solid #000;
		margin-bottom: 10px;
		overflow: auto;
	}

	#editModal {
		min-height :950px;
	}

	#editReserveForm {
		position: relative;
		display: inline-block;
		width : 100%;
		height: 600px;
		left : 0%;
		borde: 1px solid grey;
		margin-bottom: 20px;
	}

	#editReserveForm input[type="text"],#editReserveForm input[type="date"],#editReserveForm input[type="time"],#editReserveForm select,#editReserveForm textarea,#editReserveForm input[type="file"],
	#editReserveForm input[type="number"],#editReserveForm input[type="password"] {
		position: relative;
		width: 70%;
		padding : 1%;
		left : 5%;
		border-radius : 3px;
		color : #000;
		border : 1px solid #96980f;
	}

	#editReservePanel {
		position: relative;
		width : 70%;
		height : 1000px;
		left : 10%;
		borde : 1px solid #000;
		margin-bottom: 10px;
		overflow: auto;
	}

	/*=================================================================================alertMessages.php========================================================*/

	div#message {
		position: absolute;
		width : 30%;
		height: 100px;
		left : 45%;
		background: #ff3c4e;
		display: block;
		z-index: 1;
		margin-top : 180px;
		border-radius: 5%;
		opacity : 1.0;
	}

	div#message p{
		background: grey;
		color : #fff;
		font-size: 20px;
		height : 100%;
		text-align: center;
		top : -15px;
		opacity: 1.0;
	}


	#messPic img {
		width : 40%;
		height : 80px;
	}

	#messPicErr img {
		width : 23%;
		height : 85px;
		position: relative;
		left : 37%;
		top : -10px;
	}

	div#ok {
		position: relative;
		left :70%;
		width : 10%;
		height : 20px;
		border-radius: 7%;
		border: 1px solid grey;
		text-align: center;
		padding : 5px;
		top : -7%;
		cursor : pointer;

	}


	/*================================================================== footer =====================================================================================*/

	/*#footer {
		width : 100%;
		min-height : 100px;
		background: linear-gradient(to bottom,#ff3c4e,#6a0419);
	}

	.footer-data {
		min-height : 100px;
		borde : 1px solid #fff;
		margin-left: 5px;
	}

	#footer-menu > p {
		font-family: "Josefin Slab";
		text-align: center;
		font-size: 15px;
		top : 10px;
	}

	#footer-contact >p {
		font-family: "Josefin Slab";
		text-align: center;
		font-size: 15px;
	}

}*/
