@font-face {
	font-family : "ibooqFont";
	src:url("webfont/The Northern Block Ltd - Typold Thin.woff");
}

@font-face {
	font-family : "ibooqFontMedium";
	src:url("webfont/The Northern Block Ltd - Typold Medium.woff");
}

body{
  position: relative;
    margin: 0;
    padding: 0;
    width : 100%;
    height : auto;
    font-family : "ibooqFont";
}

h4 {
  font-family : "ibooqFont";
}

.padding-0{
  padding-right:0;
  padding-left:0;
}


/*navbar*/

#mainNav {
  min-height: 56px;
  background: #fff;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  font-family : "ibooqFont";
  padding: 0.75rem;
  color: #000000;
  border: 1px solid #ffffff;
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background: #fff;
    transition: background-color 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    padding: .5rem 0;
    color: rgba(255, 255, 255, 0.5);
  }
  #mainNav .nav-link {
    transition: none;
    padding: 2rem 1.5rem;
    color: #000;
    font-family : "ibooqFontMedium";
    text-transform: uppercase;
    font-size: 14px;
  }

  #mainNav .nav-link:active {
    color: white;
  }
  #mainNav.navbar-shrink {
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #161616;
  }
  #mainNav.navbar-shrink .nav-link {
    color: #ffffff;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: #467370;
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: #64a19d;
    outline: none;
    border-bottom: 0.25rem solid #64a19d;
  }
}



/*end of slider*/

.hero-wrap{
  width: 100%;
  height: auto;
  background: #ffffff;
  position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center; 
}

.hero-wrap  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: #fff;
    height:auto; 
}




.slider-text {
  height: 550px; 
}




  .slider-text h2{
    font-size: 60px;
    color: #ffa500;
    font-weight: 800;
   
    font-family : "ibooqFont";
    text-transform: uppercase;
}

 .slider-text .welcome {
    color: #fff;
    font-weight: 500;
    font-size: 25px;
    font-family : "ibooqFont";
  }
  
  .slider-text p{
      color: #fff;
    font-weight: 500;
    font-size: 25px;
    font-family : "ibooqFont";
      
  }

.hero-wrap .top, .hero-wrap .request-form{
  padding: 5px 5px;
}


.hero-wrap form .btn-search{
  border-radius: 2px;
  border: none;
  outline: none;
  background: #ffa500;
  padding: 0.7rem 1rem;
  color: #ffffff;

  font-family : "ibooqFont";
}

.text {
  display: block;
}

.btn-switch {
  position: relative;
  text-align: center;
  width: 90%;
  left : 5%;
  border:1px solid #8AD879;
  background-color: #8AD879;
  border-radius: 1rem;
  padding : 3px;
  cursor: pointer;
}

.btn-switch-sp {
  position: relative;
  text-align: center;
  width: 90%;
  left : 5%;
  border:1px solid #F3533A;
  background-color: #F3533A;
  border-radius: 1rem;
  padding : 3px;
  cursor: pointer;
}

.btn-switch-search {
  position: relative;
  text-align: center;
  width: 90%;
  left : 5%;
  border:1px solid #F3533A;
  border-radius: 1rem;
  padding : 3px;
  cursor: pointer;
}


.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-family : "ibooqFont";
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0;
}

.btn-primary {
  background: #ffa500;
  border: none;
  transition: all ease-in-out 0.5s;
}

.btn-primary:focus {
  background: #ffa500;
  color: white;
}

.btn-primary:active {
  background-color: #467370 !important;
}

@media(max-width: 600px){
  .hero-wrap{
    height: auto;

  }

  .hero-wrap  .overlay{
    height: auto;
  }
  
  .slider-text{
      height:450px;
      padding-top: 1rem;
  }


  
  .slider-text .welcome{
      font-size: 18px;
  }
  
  .slider-text h2{
      font-size: 25px;
      margin-top:0;
      margin-bottom:0;
  }
  
  .slider-text p{
      font-size:16px;
  }


}







 
/*============================================veneus section===========================================*/

.about-section {
  padding-top: 0rem;
  background: #fff;
  position: relative;
}

.about-section .top-clubs h4{
  color: #ffa500;
  font-family : "ibooqFont";
}

.about-section .top-clubs a{
  text-decoration: none;
  font-family : "ibooqFont";
  color: #ffa500;
}

.about-section .club .club-poster img{
  border-radius: 2px;
  height: auto;
  max-height: 20rem;
  min-height: 20rem;
  width: 100%;
  object-fit: cover;
}

.card {
  transition: all .2s ease-in-out;
}
 .card:hover {
  transform: scale(0.9);
  box-shadow: 0 0 11px #000000;
}

.service-card {
  padding-left: 0px;
}

@media(min-width: 992px){
  .about-section .row .club, .event {
     margin-right: 0.8rem;
  }
}
.service-card {
  padding-left: 10px;
}
}

@media(max-width: 600px){
  .about-section .row .club, .event{
    margin-right: 0.4rem;
  }

  .about-section .club .club-poster img{
    max-height: 14rem;
    min-height: 14rem;
  }

  .service-card {
    padding-left: 10px;
  }

}

.featured-title-box .club-name{
  color: #ffa500;
  font-family : "ibooqFontMedium";
  padding: 1rem 0;
  text-transform: uppercase;
}

.featured-title-box p {
    color: #ffffff;
    display: inline-block;
    margin: 0; 
}

.featured-title-box ul li span{
  color: #fff;
}

@media(max-width: 600px){
  .featured-title-box .club-name{
    font-size: 15px;
  }
  
  .about-section .club .club-poster img{
      max-height: 24rem;
      min-height:24rem;
  }

.featured-title-box ul li strong{
  font-size: 14px;
}


}
/*#events{
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}
#events .panel-card .panel-img{
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

#events .panel-card .panel-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 2px;
   border-top-right-radius: 2px;
}

#events .panel-card .panel-content{
  background: #fff;
  width: 100%;
  padding: 1.2rem 1.2rem;
  border-radius: 5px;
}

.panel-content .button .btn-primary{
  background: #ad67ea;
  padding: 0.6rem 0.6rem;
  text-decoration: none;
  color: #fff;
  font-family: 'Raleway';
  border-radius: 2px;
  border:none;
}

.panel-content .list{
  list-style: none;
  padding-left: 0;
  font-family: 'Raleway';
}

.panel-content h4{
  font-family: 'Montserrat';
}

.panel-content ul li{
    font-family: 'Varela Round';
    font-size: 1.3rem;
}

.panel-content ul li .fas, .panel-content ul li .far{
    font-size: 1.5rem;
    color: #fff;
    background: linear-gradient(to right, #ffa500, #ffa500);
    padding: 0.6rem 0.6rem;
    margin-bottom: 0.4rem;
}

.panel-content ul li .fa-map-marked-alt{
    padding: 0.7rem 0.6rem;
}

.panel-content ul li .fa-calendar-alt{
    padding: 0.6rem 0.7rem;
}*/



@media(max-width: 700px){
  .panel-card{
    margin-bottom: 1.2rem;
  }
 
}

    
    .card-two p{
      font-family : "ibooqFont";
    }
    
     .card-two .fas{
         color:#df3d82;
         padding-right: 0.6rem;
         
     }
     
     .card-subtitle-two{
         text-transform: uppercase;
     }
     
     #reserve{
         background: #cddce0;
         padding-bottom: 2.4rem;
     }
     
     #reserve .card{
         border-radius: 2px;
         margin-top: 0.6rem;
     }
     
     #reserve .card-header{
         background: #18a4c8;
         color: #fff;
         font-family : "ibooqFont";
     }
     
     #reserve .card-body h5{
      font-family : "ibooqFont";
         color:#df3d82;
         text-transform: uppercase;
     }
     
     #reserve .card-body h6{
      font-family : "ibooqFont";
         padding-top: 0.7rem;
     }
     
     
     
     .drinks{
         padding-left:0.6rem;
     }
     
     .btn a{
         text-decoration:none;
     }
     
     .btn .btn-lg{
         background: #18a4c8;
         color: #f2f2f2;
         font-family : "ibooqFont";
     }
    
    @media(min-width:992px){
        .card-two .fas{
            color: #df3d82;
            font-size:30px;
            padding-right: 0.6rem;
        }
        
        
        
    }
    
    @media(max-width:576px){
        .card-img-top{
            height: 40vh;
        }
        
        .card-two{
            height: 8rem;
            margin-bottom: 0.5rem;
        }
    }
    
/*===============================reserve table page css==================================================*/

#club-inner{
  padding: 2rem 2rem;
  background:linear-gradient(to bottom, #ffffff 0%, #ffffff 75%, #ffffff 100%);

}

#club-inner .happy-hour-offers .btn-primary{
  font-family : "ibooqFont";
  padding : 0.6rem 0.7rem;
  border-radius: 1px;
  background: #ffa500;
  border:none;
  color: #ffffff;
  transition: all ease-in-out 0.5s;
  margin-bottom: 1rem;
}

#club-inner .col-md-3 img{
  height: auto;
  max-height: 10rem;
  min-height: 10rem;
  width: 10rem;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}

 #club-inner h6, #club-inner h3{
  font-family : "ibooqFont";
  text-transform: uppercase;
  color: #ffa500;
}

#club-inner .club-details  ul li{
  font-family : "ibooqFont";
  padding-right: 1rem;
  color: #ffffff;
}

#club-inner .club-details  ul li a{
  color: #ffffff;
  font-family : "ibooqFont";
  text-decoration: none;
  padding: 0.3rem 0rem;
  border-radius: 2px;
}

#club-inner .club-details  ul li  .fas{
    margin-right: 0.5rem;
}

#club-inner .happy-hour-offers .title{
    border-bottom: 1px solid #333;
}

#club-inner .happy-hour-offers .title .btn{
  font-family : "ibooqFont";
  padding : 0.6rem 0.7rem;
  border-radius: 1px;
  background: #ffa500;
  border:none;
  color: #ffffff;
  transition: all ease-in-out 0.5s;
}

#club-inner .happy-hour-offers .drink .drink-name span{
    color: #ffffff;
    font-family : "ibooqFont";
  font-size: 18px;
  letter-spacing: .1em;
}

#club-inner .happy-hour-offers .drink .add-to-cart .btn-primary{
  font-family : "ibooqFont";
  padding : 0.6rem 0.7rem;
  border-radius: 1px;
  background: #ffa500;
  border:none;
  transition: all ease-in-out 0.5s;
}

#club-inner .happy-hour-offers .drink .drink-name p{
    color: #ffa500;
    font-family : "ibooqFont";
  font-weight: 500;
}

#club-inner .tables .wrapper .card-title{
    color: #ffffff;
    font-family : "ibooqFont";
  font-size: 18px;
  letter-spacing: .1em;
  
    
}

#club-inner .tables .title{
    border-bottom: 1px solid #333;
}

#club-inner .tables .wrapper h5{
  color: #ffffff;
  font-family : "ibooqFont";
  font-weight: 500;
    
}

#club-inner .tables .wrapper h6{
    text-transform:normal;
    font-family : "ibooqFont";
    letter-spacing: .1em;

}

#club-inner .tables .wrapper .btn-primary{
  font-family : "ibooqFont";
  padding : 0.6rem 0.7rem;
  border-radius: 1px;
  background: #ffa500;
  border:none;
  transition: all ease-in-out 0.5s;
    
}

#club-inner .tables .wrapper .content{
    border-bottom: 1px solid #333;
  padding-bottom: 0.7rem;
  padding-top: 0.7rem;
}

#club-inner .btn-primary:hover{
    background: none;
    color: #3c6cb5;
    border: 2px solid #3c6cb5;
}

@media(min-width: 992px){
  #club-inner .club-details, .happy-hour-offers, .tables{
    margin: 0 4rem;
    

  }

  #club-inner img {
    margin-left: 40%;
  }
}

@media(max-width:600px){
    #club-inner{
        padding: 2rem 0;
        
    }

    #club-inner img {
      margin-left: 1rem;
    }
    
    #club-inner .club-details, #club-inner .happy-hour-offers, #club-inner .tables{
        padding: 0.5rem 0.5rem;
    }
}





/*footer css*/

.footer {
  position: relative;
  background: #fff;
}



.footer p{
  font-family : "ibooqFont";
  color: #fff;
}

.footer h3{
  font-family : "ibooqFont";
  color: #fff;
}

.footer .widget-insta-feed ul li{
  display: inline-block;
}

.footer .widget-insta-feed ul li a{
  text-decoration: none;
  padding: 0.7rem 1rem;
  color: #ffffff;
  border-radius: 2px;
}

.footer .widget-insta-feed ul li .fb{
  background:  #1877f2;
}

.footer .widget-insta-feed ul li .tweet{
  background: #1da1f2;
}

.footer .widget-insta-feed ul li .send{
  background: #25d366;
}

.footer .widget-insta-feed ul li .insta{
  background: #c32aa3;
}



.footer .foo-top {
  background: #fff;
  padding: 100px 0;
}

.footer .foo-bo {
  background: #fff;
  padding: 10px 0;
}

.footer .foo-btm {
  background-color: #10233a;
}

.footer .foo-btm .copyright {
  color: #888;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 0;
  padding: 20px 0;
  font-family : "ibooqFont";
}

.footer .foo-btm .copyright a {
  color: #ffa500;
}

/*============================register and login page css=============================================*/
#head{
  margin: 0;
  display: block;
  justify-content: center;
  align-items: center;
  max-height: 30rem;
}

#head>.container{
  width: 100%;
  max-width: 70rem;
  background-color: rgb(255, 255, 255);
  padding-left: 0%;
  position: absolute;
  margin-top: 5rem;
  margin-left: 10%;
  border-radius: 1rem;
  box-shadow: 0 1px 1.5rem rgba(0,0,0,.1);
}

#head .form-heading{
  color: #8AD879;
  position: relative;
  top: 3.5rem;
  left: 5rem;
}

#head .form-heading h1{
  color: #fff;
  font-size: 2.4rem;
  font-family : "ibooqFont";
}

#loginForm,#regForm{
  position: relative;
  margin-top: 0;
  margin-left: 10%;
  background-color: #fff;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
}

#login_left_panel {
  position: relative;
  max-height: 60rem;
  margin-left: 0px;
  border-radius: 1rem;
  background-color: #8AD879;
}

#login_left_panel_text {
  position: relative;
  top: 10rem;
}

#regForm form input[type="text"],#regForm input[type="date"],#head form input[type="time"],#regForm form select,#regForm form textarea,#regForm form input[type="file"],
#regForm form input[type="number"],#regForm form input[type="password"]{
    border-radius : 1rem;
  border : 1px solid #000;
    background-color: rgba(255,255,255,0.9);
    padding: 30px;
}

#head form input[type="text"],#editEventForm input[type="date"],#head form input[type="time"],#head form select,#head form textarea,#head form input[type="file"],
#head form input[type="number"],#head form input[type="password"]{
    border-radius : 1rem;
  border : 1px solid #000;
    background-color: rgba(255,255,255,0.9);
}

#head .form-control{
  position: relative;
  width: 100%;
  margin-top: .5rem;
  outline: none;
  font-size: 1.4rem;
  color: #fc6767;
  font-family : "ibooqFont";
  border-radius : 1rem;
  border : 1px solid #000;
    background-color: rgba(255,255,255,0.3);
}

#head .btn-primary{
  border: none;
  background: #8AD879;
  padding: 0.6rem 3rem 0.6rem 3rem;
  border-radius: 1REM;
  color: #fff;
  font-family : "ibooqFont";
  margin-top: 1.2rem;
  margin-left: 35%;
}

.switch-login a{
  font-family : "ibooqFont";
  color: #000000;
  padding-top: 0.5rem;
  text-decoration: none;
}

.switch-login a:hover{
  color: #ffa500;
}

.switch-login a span{
  color: #ffa500;
}

#head .fa-home{
    padding-left: 1.2rem;
    border-left: 1px solid #00000;
}

/*================================manager page css==================================================*/

#manager-page #navigator{
    border-bottom: 1px solid #fff;
}
#managementContent {
	position: relative;
	width : 100%;
	background: #fff;
}

#managementContent>p {
	font-family : "ibooqFont";
	text-align: center;
	font-size : 23px;
}

#sidebar {
	position: relative;
    width : 100%;
    height : 40px;
    margin-top: 0;
    background: linear-gradient(to left, #F3533A 0%, #FA9F42 100%);
    padding-bottom: 10px;
    border-radius: 0px;
    color : #000;
}

ul#managementTab {
	position: absolute;
	width : 100%;
		top:20px;
}

#managementTab>li {
	position: relative;
	list-style-type: none;
	width : 25%;
	left : 0%;
	height : 40px;
	float: left;
	border : 1px solid #fff;
	border-top: 0px;
	border-bottom: 0px;
	border-radius : 0px;
	
	text-align: center;
	margin-top: -20px;
	margin-left: 0;
	cursor: pointer;
	font-family : "ibooqFont";
	font-size: 12px;
	color: #fff;
}

#ticketPanel {
	position: relative;
	width : 100%;
	height : 800px;
	display: block;
	left : 0%;
	borde : 1px solid #000;
	margin-bottom: 10px;
	overflow: auto;
}

table#usersTable {
	position: absolute;
	width : 100%;
	border : 1px solid grey;
	border-collapse: collapse;
}

#usersTable th,td{
	border : 1px solid grey;
	padding : 10px;
}

div [class*="deleteUser"]{
	position: relative;
	width : 45px;
	height : 50px;
	borde: 1px solid #000;
}

div [class*="deleteUser"] img{
	position: relative;
	width : 45px;
	height : 50px;
}

#tellerPanel {
	position: relative;
	width : 100%;
	height : 500px;
	display: none;
	left : 0%;
	border : 1px solid #000;
	margin-bottom: 10px;
	overflow: auto;
}

#profilePanel {
	position: relative;
	width : 100%;
	height : 500px;
	display: none;
	left : 15px;
	border : 1px solid #000;
	margin-bottom: 10px;
	overflow: auto;
}

.managerAccounting {
	width : 90%;
	margin-left: 5%;
}

table#ordersTable {
	position: relative;
	width : 100%;
	border : 1px solid grey;
	border-collapse: collapse;
}

#ordersTable th,td{
	border : 1px solid grey;
	border-collapse: collapse;
	padding : 10px;
}

#uploadProductForm .form-control{
  font-family : "ibooqFont";
	    
	   
}

#uploadProductForm  input[type="text"],#uploadProductForm input[type="date"],#uploadProductForm  input[type="time"],#uploadProductForm  select,#uploadProductForm  textarea,#wrapper form input[type="file"],
#uploadProductForm  input[type="number"],#uploadProductForm  input[type="password"]{
    border-radius : 3px;
	border : 1px solid #96980f;
    
}
	

	
	
#uploadProductForm .btn-primary{
 border: none;
  background: linear-gradient(to right, #ffa500, #ffa500);
  padding: 0.6rem 2rem;
  border-radius: 0.2REM;
  color: #fff;
  font-family : "ibooqFont";
  margin-top: 1.2rem;
}

#profilePanel .btn-primary{
    border: none;
  background: linear-gradient(to right, #ffa500, #ffa500);
  padding: 0.6rem 2rem;
  border-radius: 0.2REM;
  color: #fff;
  font-family : "ibooqFont";
  margin-top: 1.2rem;
    
}



/*===============================================
                media queries
=================================================*/
/*-----------------------mobile---------------------------*/


@media (max-width: 575.98px){
    .navbar .navbar-nav .nav-item {
        padding-bottom: 2rem;
        
        
    }

  /*======================for login and register pages ===========================*/
  #head .container{
    width: 100%;
    max-width: 70rem;
    background-color: #fff;
    position: relative;
    margin-top: 0;
    margin-left: 0;
    border-radius: 1rem;
    box-shadow: 0 1px 1.5rem rgba(0,0,0,.1);
  }  


  .text {
    display:none;
  }

  #loginForm,#regForm{
    position: relative;
    margin-top: 0;margin-left: 0%;
    padding : 2rem;
    background-color: #fff;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  #login_left_panel {
    display: none;
  }
    
    #navigator button{
        margin-right: 0.8rem;
    }
    #searchForm .form-group .btn-primary{
        margin-top: 0.5rem;
    }
    #navigator .navbar-nav .nav-item a{
        margin-bottom: 1.3rem;
    }
    
    .carousel-item{
      height: 55vh;
      background-size: cover;
      width: 100%;
    }


.carousel-caption h2{
    font-size: 1.7rem;
    font-family : "ibooqFont";
}

.carousel-caption{
    margin-bottom: 0rem;
}

.carousel-caption p{
    font-size: 1.2rem;
    font-family : "ibooqFont";
    margin-top: -1.3rem;
}
.carousel-caption .pop{
    color: #df3d82;
}

.carousel-caption .btn{
    display: none;
}
#events h2{
    font-size: 1.4rem;
}
#events .product-card{
    margin-bottom: 1.3rem;
}
#reserve .panel{
    margin-bottom: 1.2rem;
  }
    #inner .inner-img{
  width: 100%;
  height: 350px;
  overflow: hidden;
}
#wrapper .form-container::before{
  height: 10rem;

}

#wrapper .form-heading{
  left: 50%;
  transform: translateX(-50%);
}

#wrapper form{
  border-radius: initial;
  transform: initial;
  box-shadow: none;
  padding: 1.2rem 0.6rem;
}
#ticketPanel h2{
    font-size: 1.2rem;
}
#uploadPicForm .col-12{
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}
}

/*-----------------------------desktop----------------------*/

@media(min-width: 800px){
.carousel-item .carousel-caption{
    margin-bottom: 0rem;
}


#searchForm{
   position: relative;
   left: 230px;
}
}
