

body {
  overflow-x: hidden;
  font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}


/*global css*/
p {
  line-height: 1.75;
}

a {
  color: #fed136;
}

a:hover {
  color: #fec503;
}

.text-primary {
  color: #fed136 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat'; 
}

section {
  padding: 100px 0;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Droid Serif'; 
}

.btn {
  font-family: 'Montserrat'; 
  font-weight: 700;
  border-radius: 0;
  background: transparent;
}

.btn-lg {
  font-size: 18px;
  padding: 10px 30px;
}

.btn-primary, .btn-success {
  background-color: none;
  border: 2px solid #1d809f;
}

.btn:hover{
  border: none;
  background: #1d809f;
}

/*end of global css*/


/*navbar css*/
#mainNav {
  background-color: #212529;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #df3d82;
  font-family: 'Montserrat';
}

#mainNav .fas{
  color: #fff;
}


#mainNav .navbar-brand img{
  width: 150px;
}



#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: white;
  font-family: 'Montserrat';
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #fed136;
}



/*end of navbar css*/


/*masthead css*/
header.masthead {
  text-align: center;
  color: white;
  background-image:linear-gradient(rgba(255,0,1,0.4),rgba(20,0,255,0.5)), url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

header.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 100px;
}



header.masthead .intro-text .intro-lead-in {
  font-style: normal;
  font-family: 'Coiny';
  font-size: 30px;
  animation-duration: 2s;
  animation-delay: 1s;
}

header.masthead .intro-text .intro-heading {
  font-size: 95px;
  font-weight: 800;
  font-family: 'Archivo Black';
  color: #df3d82;
  animation-duration: 3s;
  animation-delay: 2s;
}

header .intro-text-paragraph{
  color: #f2f2f2;
  font-size: 2rem;
  font-family: 'Coda';
  animation-duration: 3s;
  animation-delay: 2s;
}
/*end of masthead css*/

/*about section*/
#about{
  background: #fff;
}

.about-top h1{
  color: #df3d82;
  font-family: 'Archivo Black';
  text-transform: uppercase;
}

.about-top .container .about-text{
  font-size: 30px;
  color: #000;
  font-family: 'Julius Sans One';
}



/*end of about section*/

/*service section*/

#services{
  padding: 2.2rem 0;
  background: #7ab8b8;
}

#services h1{
  color: #f5f5f5;
  font-family: 'Montserrat';
  text-transform: uppercase;
}

#services .wrapper a{
  text-decoration: none;
}

.wrapper{
  padding: 0.6rem 0.6rem;
 
}

.wrapper-panel .top-img{
   height: 200px;
  width: 300px;
  overflow: hidden;
}

.wrapper-panel .top-img img{
  width: 100%;
  height: 100%;
}

.wrapper-panel .content{
  background: #fff;
  width: 300px;
  height: 70px;
  padding: 1.2rem 1.2rem;
  color: #df3d82;
  font-family: 'Montserrat';
  text-transform: uppercase;
}



/*service section css*
.service-heading {
  margin: 15px 0;
  text-transform: none;
  font-family: 'Archivo Black';
}

#services .section-heading{
  padding-bottom: 1.2rem;
  color: #df3d82;
}

#services .fa-stack{
  color: #df3d82;
}

#services .panel .fas{
  background: #df3d82;
  padding: 2rem 2rem;
  color: #f2f2f2;
}

/*end of service css*/


#about .venue-title a, .event-title a{
  float: right;
}

/*py-5 section css*/


/*team css*/
.team-member {
  margin-bottom: 50px;
  text-align: center;
}

.team-member .fas {
 padding: 2rem 2rem;
  border: 7px solid #df3d82;
}

.team-member .fa-mouse-pointer{
  padding: 2rem 3rem;
}

.team-member .page a{
  text-decoration: none;
  color: #df3d82;
  font-weight: bolder;
}

.team-member .page a:hover{
  color: yellow;
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

.team-member p {
  margin-top: 0;
}
/*end of team css*/


footer {
  padding: 25px 0;
  text-align: center;
  background: #1a1a1a;
}

footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: 'Montserrat';
  color: #fff;
}

footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: 'Montserrat';

}

footer .quicklinks li a{
  color: #df3d82;
  text-decoration: none;
}

footer .quicklinks li a:hover{
  color: #fff;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 50px;
  display: block;
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
 
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #fed136;
}

ul.social-buttons li .twitter{
  background: #1da1f2;
}

ul.social-buttons li .facebook{
  background: #3b5998;

}

ul.social-buttons li .whatsapp{
  background: #25d366;

}

/*----------------------drinks page css--------------------------------*/

#page-top-drinks{
  background: #efede1;
}

#page-top-drinks section{
  padding: 2.3rem 4.3rem;
}
.navbar{
  background: #212529;
}
.navbar .navbar-brand img{
  width: 250px;
}

.navbar .navbar-nav a{
  text-decoration: none;
  color: #df3d82;
  font-family: 'Montserrat';
}

.navbar .navbar-nav .fas{
  padding-right: 0.5rem;
}

/*search section*/

#search{
  padding: 0;
}

#search .search{
  width: 100%;
}

.search .form-control{
  font-family: 'Varela Round';
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 1rem;

}

/*end of search section css*/


/*wrapper section*/
#wrapper section{
  padding: 0;
}

#wrapper .row{
  max-width: 1140px;
  margin: 0 auto;
}

#wrapper .fas{
  color: #df3d82;
}

#wrapper h6{
  font-family: 'Oswald';
  color: #000;
}

#wrapper p{
  font-family: 'Varela Round';
}

#wrapper .section-one .product-content{
  background: #6699cc;
  width: 100%;
  padding-left: 0.4rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

}

#wrapper .section-two .product-content{
  background: #6082bc;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-left: 0.4rem;
}


/*type section*/

#type{
  padding: 1.2rem 0;
  width: 100%;
}
#type .type-ul{
  list-style: none;
}

#type .type-ul li{
  display: inline-flex;
  border: 2px solid #1d809f;
  color: #28a745;
  padding: 0.6rem 1.5rem;
}

#type .type-ul li a{
  text-decoration: none;
  color: #28a745;
}

/*product section*/




/*----------------------------------------media queries----------------------------------*/

/*--------------------desktop--------------------------------*/

@media (min-width: 992px) {

  /*navbar css*/
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
  /*end of navbar css*/

  /*timeline section css*/
.py-5 .img-fluid{
  position: relative;
  left: 100%;
  
}


  /*end of timeline css*/

}
/*-------------------- end of desktop--------------------------------*/



/*------------extra large display--------------------*/

@media (min-width: 1200px) {
  .timeline  li {
    min-height: 170px;
  }
  .timeline  li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline  li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline  li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline  li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}
/*--------------------end of extra large--------------------------------*/



/*----------------tablet---------------------------*/
@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }

  header.masthead .intro-text {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  header.masthead .intro-text .intro-lead-in {
    font-style: normal;
     
  }
  header.masthead .intro-text .intro-heading {
    font-weight: 700;
    
  }

  .wrapper a .wrapper-panel:hover{
   background-color: linear-gradient(rgba(122,184,184,0.8), rgba(122,184,184,0.8));
  transform: scale(1.1);
  transition: 1s;
}

}
/*--------------------end of tablet--------------------------------*/


/*----------mobile-----------------------*/

@media(max-width: 576px){
  .btn-success{
    margin-bottom: 0.5rem;
    padding-right: 4rem;
    padding-left: 4rem;
  }

  header .intro-text-paragraph{
  font-size: 1.4rem;
  }

  .about-top .container .about-text{
  font-size: 20px; 
}

.py-5 .row img{
  width: 200px;
}

#drinks .product-top{
  height: 10rem;
}

#drinks .product-bottom{
  margin-bottom: 1rem;
}

}
/*------------end of mobile---------------*/