#page-top-drinks{
    background:#000;
}

#mainNav {
  min-height: 56px;
  background: #fff;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #000000;
  border: 1px solid #ffffff;
}

  #mainNav .nav-link {
    transition: none;
    padding: 2rem 1.5rem;
    color: #000;
    font-family: 'Open Sans';
    text-transform: uppercase;
    font-size: 14px;
  }

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background: #fff;
    transition: background-color 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    padding: .5rem 0;
    color: rgba(255, 255, 255, 0.5);
  }
  #mainNav .nav-link {
    transition: none;
    padding: 2rem 1.5rem;
    color: #000;
    font-family: 'Open Sans';
    text-transform: uppercase;
    font-size: 14px;
  }

  #mainNav .nav-link:active {
    color: white;
  }
  #mainNav.navbar-shrink {
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #161616;
  }
  #mainNav.navbar-shrink .nav-link {
    color: #000;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: #467370;
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: #64a19d;
    outline: none;
    border-bottom: 0.25rem solid #64a19d;
  }
}

#mainNav .nav-item .nav-link .fas{
    color: #000;
}



#search{
   padding: 10rem 0;
}


#search h6{
    color: #ffffff;
    font-family: 'Josefin Sans';
    letter-spacing: .1em;
    font-size: 18px;
}


#searchForm .form-control{
  -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  height: auto;
  background: transparent;
  border: 1px solid #adcce2;
  font-family: 'Varela Round';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  
}

#searchForm .form-group .btn-primary{
  -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-family: 'Varela Round';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0;
  background: #ffa500;
}

@media (min-width: 768px){
    #searchForm .form-group .btn-primary{
        margin-top: 1.2rem;
    }
    
}

@media (max-width: 575.98px){
    #searchForm .form-group .btn-primary{
        margin-top: 0.5rem;
    }
}


/*product section*/

#drinks h5{
    font-family: 'Open sans';
    color: #ffa500;
    letter-spacing: .1em;
    text-transform: uppercase;
    border-bottom: 1px solid #333;
}

#drinks .drink .name strong{
    font-family: 'Josefin Sans';
    color: #ffffff;
    letter-spacing: .1em;
}

#drinks .drink .name .d-block{
    color: #ffa500;
    font-family: 'Josefin Sans';
}

#drinks .drink .add-to-cart .btn-warning{
  font-family: 'Varela Round';
  padding : 0.5rem 0.7rem;
  border-radius: 1px;
  background: #ffa500;
  border:none;
  color: #ffffff;
  border:none;
  position:relative;
  bottom: 0.8rem;
  transition: all ease-in-out 0.5s;
}

#drinks .drink .add-to-cart .btn-warning:hover{
     background: none;
    color: #3c6cb5;
    border: 2px solid #3c6cb5;
}


/*cart page css*/

#wrapper{
    padding:10rem 0;
    
}
#wrapper h2{
    font-family: 'Open Sans';
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 18px;
    color: #fff;
}

#wrapper p{
    font-family: 'Josefin Sans';
    color: #ffffff;
    letter-spacing: .1em;
    font-size: 18px;
    
}

form tr th{
    font-family: 'Josefin Sans';
    color: #ffa500;
    letter-spacing: .1em;
}

form tr td{
    font-family: 'Josefin Sans';
    color: #ffffff;
    letter-spacing: .1em;
}

form tr .form-input{
    background:transparent;
    border: 1px solid #adcce2;
    color: #ffffff;
    border-radius: 2px;
}

#wrapper button{
    border: none;
    background: #df3d82;
    font-family: 'Raleway';
    color: #fff;
    padding: 0.7rem 0.6rem;
}

#wrapper .btn-primary{
    font-family: 'Raleway';
    padding: 0.7rem 0.6rem;
    border-radius: 0;
    border: none;
}

#payModal .modal-content{
    border: none;
    background: #202124;
}

#payModal .modal-body h5{
    font-family: 'Open Sans';
    letter-spacing: .1em;
    color: #f51cb0;
}

#payModal .modal-body form  label{
  color: #8ab4f8;
  font-family: 'Josefin Sans';
  letter-spacing: .1em;
  margin-top: 1rem;
    
}

#payModal .modal-body form .form-control{
    background: transparent;
  border: 1px solid #a9adb2;
  padding: 1rem 1rem;
  border-radius: 2px;
  color: #8ab4f8;
}

#payModal .modal-body .form-group .btn-primary{
    font-family: 'Open Sans';
  padding : 0.6rem 0.7rem;
  border-radius: 1px;
  background: #ffa500;
  border:none;
  outline:none;
  transition: all ease-in-out 0.5s;
}

#payModal .modal-body .form-group .btn-primary:hover{
    background: none;
    color: #3c6cb5;
    border: 2px solid #3c6cb5;
}

#payModal 

/* media queries*

@media(max-width:700px){
     .row .col-md-4{
  margin-bottom: 2.5rem;
  
}
#payModal{
    margin-right: 1.2rem;
}
}